# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.so
*.log
*.sqlite3
*.db
*.pkl
*.bak
*.swp

# --------------------
# Environment & Config
# --------------------
venv/
.env
.env.*
.ollama/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Editors / IDEs
# --------------------
.vscode/
.idea/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Streamlit
# --------------------
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/cache/

# --------------------
# Vector Stores
# --------------------
backend/vector_store/
index.faiss
index.pkl

# --------------------
# Uploaded / User Files
# --------------------
documents/
uploads/
*.pdf

